<footer class="columns is-desktop is-vcentered is-centered">
  <div class="column">
    <%= link_to root_path, class: "footer-logo" do %>
      <div class="footer-logo">
      </div>
    <% end %>
  </div>
  <div class="column">
    <div class="privacy-links">
      <a href="#" class="mr-2 orange">Privacy Policy</a>
      <a href="#" class="mr-2 orange">Terms & Conditions</a>
      <p class="mr-1">Copyright 2020. All rights Reserved</p>
    </div>
  </div>
  <div class="column">
    <div class="privacy-links">
      <p class="mr-5">Connect with us:</p>
      <a href="#" class="is-size-1 mr-5 orange"><i class="fab fa-facebook-square"></i></a>
      <a href="#" class="is-size-1 mr-5 orange"><i class="fab fa-twitter-square"></i></a>
      <a href="#" class="is-size-1 mr-5 orange"><i class="fab fa-instagram "></i></a>
    </div>
  </div>
</footer>