<footer class="columns">
  <div class="column">
    <%= image_tag("LifesMemesBrownBackground-01FACE-01-01.png") %>
  </div>
  <div class="column">
    <p>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms & Conditions</a>
      <p>Copyright 2020. All rights Reserved</p>
    </p>
  </div>
  <div class="column"></div>
</footer>