<div class="navbar-item">
  <%= link_to 'Sign Up', new_user_path, class: "navbar-item #{page_active?(new_user_path)}" %>
</div>

<div class="navbar-item">
| <%= link_to 'Login', new_session_path, class: "navbar-item #{page_active?(new_session_path)}" %>
</div>