/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";
 @import "variables";

* {
  box-sizing: border-box;
}

body, html {
  background-color: #4E443E;
  color: white;
}

.orange {
  color: $orange;
}

.is-orange {
  background-color: $orange;
}
.main-logo {
  background-image:url(LifesMemesWhiteBackground-01FACE-01.png);
  width:  360px; /*or 70%, or what you want*/
  height: 70px; /*or 70%, or what you want*/
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  border-radius: 40px;
}

.column {
  padding: 0px;
}

.columns {
  margin: 0px;
  position: relative;
}

.columns:not(:last-child) {
  margin-bottom: 0px;
}

.category-background-images {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100%;
}

.main-article-title, .main-article-description {
  position: absolute;
  padding-left: 1.5rem;
}

.main-article-title {
  bottom: 20%;
  font-size: 3rem;
  color: $orange
}

.main-article-description {
  bottom: 10%;
  font-size: 2rem;
}

.main-article-image {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(0,0,0,0.011642156862745057) 100%);
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item-wrapper:nth-child(3) .category-grid-item:nth-child(1), .item-wrapper:nth-child(4n+3) .category-grid-item:nth-child(1) {
  order: 1;
}

.item-wrapper:nth-child(4) .category-grid-item:nth-child(1), .item-wrapper:nth-child(4n+4) .category-grid-item:nth-child(1) {
  order: 1;
}