/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";
 @import "variables";
 @import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

 * {
  box-sizing: border-box;
}

body, html {
  background-color: #4E443E;
  color: white;
  font-family: 'Lato', sans-serif;
}

.orange {
  color: $orange;
}

.is-orange {
  background-color: $orange;
}
.main-logo {
  background-image:url(LifesMemesWhiteBackground-01FACE-01.png);
  width:  360px; /*or 70%, or what you want*/
  height: 70px; /*or 70%, or what you want*/
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  border-radius: 40px;
}

.column {
  padding: 0px;
}

.columns {
  margin: 0px;
  position: relative;
}

.columns:not(:last-child) {
  margin-bottom: 0px;
}

.category-background-images {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100%;
}

.category-title, .category-article-title {
  position: absolute;
  font-size: 2rem;
  color: white;
}

.category-title {
  padding: 1rem 0 0 1rem;
  text-decoration: underline;
  text-decoration-color: yellow;
  top: 0%;
}

.category-article-title {
  padding: 0 0 1rem 1rem;
  bottom: 0%;
}

.main-article-container {

}

.main-article-image {
  margin: auto;
  flex-grow: 0;
}

.main-article-title, .main-article-description {
  position: absolute;
  padding-left: 1.5rem;
}

.main-article-title {
  bottom: 6rem;
  font-size: 2rem;
  color: $orange
}

.main-article-description {
  bottom: 3rem;
  font-size: 1rem;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.item-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  color: black;
}

.item-wrapper:nth-child(3) .category-grid-item:nth-child(1), .item-wrapper:nth-child(4n+3) .category-grid-item:nth-child(1) {
  order: 1;
}

.item-wrapper:nth-child(4) .category-grid-item:nth-child(1), .item-wrapper:nth-child(4n+4) .category-grid-item:nth-child(1) {
  order: 1;
}

.category-grid-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item-text {
  min-height: 434px;
  word-break: break-all;
  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQoU2NkIAIUFxcbMxJSB1LU29t7Fq9CmCKQYTgVIivCqRBdEVaF2BRhKMSlCEUhPkVwhYQUgRUSowikEAAsxyWXIwAEXAAAAABJRU5ErkJggg==
       ) repeat;
  h3 {
    text-decoration: underline;
  }
}



/* Footer */

.privacy-links {
  display: flex;
  flex-direction: row;
}