// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.category-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  color: black;
}

.item-wrapper:nth-child(3) .category-grid-item:nth-child(1),
.item-wrapper:nth-child(4n+3) .category-grid-item:nth-child(1) {
  order: 1;
}

.item-wrapper:nth-child(4) .category-grid-item:nth-child(1),
.item-wrapper:nth-child(4n+4) .category-grid-item:nth-child(1) {
  order: 1;
}

.category-grid-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item-text {
  min-height: 434px;
  word-break: break-all;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
  background:
    url(
      data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQoU2NkIAIUFxcbMxJSB1LU29t7Fq9CmCKQYTgVIivCqRBdEVaF2BRhKMSlCEUhPkVwhYQUgRUSowikEAAsxyWXIwAEXAAAAABJRU5ErkJggg==
    ) repeat;

  h3 {
    text-decoration: underline;
  }
}
