  <nav class="navbar has-text-weight-medium is-size-5" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="<%= root_path %>">
        <div class='main-logo'>
        </div>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-start" style="flex-grow: 1; justify-content: space-evenly;">
      <%= link_to 'Home', root_path, class: "navbar-item #{is_page_active(root_path)}" %>
      <%= link_to 'Create a Meme', new_article_path, class: "navbar-item #{is_page_active(new_article_path)}" %>
    </div>
    <div class="navbar-end">
      <%= render render_navbar_links %>
    </div>
  </div>
</nav>